<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lesson5</title>
</head>
<body>
    <div id="app">
        <button v-on:click="show = !show">Показати / Скрити</button> <!-- show = !show вираз, який міяє значення на протилежне -->
        <p v-if="show">Текст, який може стати невидими</p>
        <p v-else="">{{ showMess }}</p>
        <p v-show="show">Текст, який може стати невидими</p>
        <p>{{ message | lowercase }}</p> <!-- Застосування локального фільтра для строки -->
        <p>{{ message | capatilize }}</p> <!-- Застосування глобального фільтра для строки -->

        <!-- Вивід одного елемента з списку/масиву -->
        <br/>
        <ul>
            <li>{{ cars[2].model }}</li>
        </ul>

        <br/>
        <br/>

        <ul>
            <li v-for="(car,i) in cars">{{ i + 1 }} - {{ car.model }}, швидкість: {{ car.speed }}</li> <!-- i - індекс -->
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main5.js"></script>
</body>
</html>